* {
    padding: 0;
    margin: 0;
}

.cf {
    clear: both;
}

body {
    background-color: #eaeaea;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.container {
    width: 900px;
    margin: auto;
    background-color: #ffffff;
    box-sizing: border-box;
    box-shadow: 7px 0px 10px 0 rgba(0, 0, 0, 0.5), -7px 0px 10px 0 rgba(0, 0, 0, 0.5);
}

.header {
    height: 50px;
    background-color: #0a0a0c;
    color: #ffffff;
    font-size: 24px;
    font-weight: 700;
    line-height: 50px;
    padding-left: 20px;
    box-sizing: border-box;
}

.navbar ul {
    position: absolute;
    display: inline-block;
    margin-right: 20px;
    right: 200px;
    top: 15px;
}

.navbar ul li {
    display: inline-block;
    margin-right: 30px;
}

.navbar ul li a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    color: #ffffff;
    transition: 0.2s;
}

.navbar ul li a:hover {
    color: #f3ca20;
}

.hero {
    background-image: url(img/laptop.jpg);
    height: 490px;
    padding-top: 155px;
    padding-left: 80px;
    box-sizing: border-box;
}

.hero .baris1,
.hero .baris3 {
    font-size: 24px;
    font-weight: 700px;
    color: #ffffff;
}

.hero .baris2 {
    font-size: 36px;
    color: #f3ca20;
    font-weight: 900;
}

.content .judul-content {
    height: 60px;
    box-sizing: border-box;
    background-color: #f3ca20;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    line-height: 60px;
}

.main {
    position: relative;
    background-color: #ffffff;
    height: 700px;
}

.content .isi-content {
    padding-left: 30px;
    margin-top: 20px;
    margin-bottom: 30px;
    width: 530px;
    font-size: 18px;
}

.contoh-script {
    padding-left: 30px;
}

.box-script {
    width: 478px;
    height: 140px;
    background-color: #f3ca20;
    box-sizing: border-box;
    padding: 10px 20px;
    margin-bottom: 30px;
    border-radius: 20px;
    box-shadow: 9px 9px 11px rgba(0, 0, 0, 0.5);
}

.contoh-script p {
    font-size: 14px;
    margin-top: 15px;

}

.contoh-script .js p {
    margin-top: 8px;
}

.contoh-script img {
    float: left;
    margin-right: 15px;
}

.sidebar {
    position: absolute;
    width: 318px;
    height: 573px;
    background-color: #f7f7f7;
    border-radius: 20px;
    box-shadow: 9px 9px 11px rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    padding: 35px;
    top: 127px;
    right: 30px;
}

.frame {
    width: 191px;
    height: 273px;
    border: 15px solid #0a0a0c;
    box-sizing: border-box;
    margin-bottom: 70px;
}

.sidebar img {
    position: absolute;
    top: 75px;
    right: 35px;
}

.about {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 15px;
}

.me {
    font-size: 18px;
}

.footer {
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #ffffff;
    background-color: #0a0a0c;
    margin-top: 45px;
}